.container{
    display: flex;
    width: 500px;
    height: 150px;
    border: lightcoral;
    border-style: solid;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border-radius: 10px;
}